<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hall_event_reservation_system">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hall_event_reservation_system"
        tools:targetApi="31">
        <activity
            android:name=".admin_login"
            android:exported="false" />
        <activity
            android:name=".register_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".add_events_page"
            android:exported="false" />
        <activity
            android:name=".admin_post_feed"
            android:exported="false" />
        <activity
            android:name=".admin_request"
            android:exported="false" />
        <activity
            android:name=".admin_profile"
            android:exported="false" />
        <activity
            android:name=".nav_profile"
            android:exported="false" />
        <activity
            android:name=".admin_events"
            android:exported="false" />
        <activity
            android:name=".admin_feed"
            android:exported="false" />
        <activity
            android:name=".nav_status"
            android:exported="false" />
        <activity
            android:name=".nav_set_Schedule"
            android:exported="false" />
        <activity
            android:name=".nav_feed"
            android:exported="false" />
        <activity
            android:name=".login_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>